div {
    width: 200px;
    height: 300px;
    position: absolute;
}

#top {
    background-color: blue;
    top: 100px;
    left: 50px;
}

#mid {
    background-color: yellow;
    top: 100px;
    left: 250px;
}

#bot {
    background-color: red;
    top: 100px;
    left: 450px;
}